<div>
  <h2>{{title}}</h2>
  <p>{{contents}}</p>
  <p>Created by {{user.username}} on {{format_date creation_date}}</p>
</div>
<div>
  {{#if logged_in}}
    <form class="comment-form">
      <div>
        <textarea id="comment-text" name="comment-text"></textarea>
      </div>
      <div>
        <button type="submit">Add Comment</button>
      </div>
    </form>
  {{/if}}
</div>
{{#each comments as |comment|}}
  <div>
  <h4>{{comment_contents}}</h4>
  <p>From {{user.username}}</p>
  <p>{{format_date creation_date}}</p>
  </div>
{{/each}}

<script src="/js/comment.js"></script>