<header>
  <h2> Welcome, {{username}}</h2>
</header>

<section>
  <h3>Create a new blog!</h3>
  <form class="new-blog-form">
    <div>
      <label for="blog-title">Blog Title:</label>
      <input type="text" id="blog-title" />
    </div>
    <div>
      <label for="blog-contents">Blog Contents:</label>
      <textarea id="blog-contents"></textarea>
    </div>
    <div>
      <button type="submit">Submit Blog</button>
    </div>
  </form>
</section>

{{#if blogs.length}}
  <section class="blog-list">
    <h2>Published Blogs</h2>
    {{#each blogs as |blog|}}
      <div>
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
        <p>{{blog.contents}}</p>
        <button data-id="{{blog.id}}"><a href="/updateblog/{{blog.id}}">Update Blog</a></button>
        <button data-id="{{blog.id}}">Delete Blog</button>
      </div>
    {{/each}}
  </section>
{{/if}}

<script src="/js/profile.js"></script>
